---
layout: archive
---

{{ content }}

<h1>About</h1>

<p>
The project investigates how parenthood affects health behaviors of men and women like physical activity, substance use, diet, and sleep. 
</p>

<p>
It uses panel data from up to seven countries to track the effect of parenthood from pregnancy to children’s teenage years. Comparing the effect across social contexts defined by socio-economic status and family structure and across countries with specific institutional and cultural differences and similarities then sheds light on the role of social and societal contexts in moderating the parenthood effect.
</p>

<p>
Research output from the project will be linked on this website. The code used to produce this output is available on the Open Science Framework. All datasets used are publicly available.
</p>

<p>
We are very grateful to the German Science Foundation (DFG) for funding the project.
</p>
